%footer.deviseFooter
  .inner
    %ul
      %li
        =link_to "プライバシーポリシー", "https://www.mercari.com/jp/privacy/"
      %li
        =link_to "メルカリ利用規約", "https://www.mercari.com/jp/tos/"
      %li
        =link_to "特定商取引に関する表記", "https://www.mercari.com/jp/tokutei/"
    .footerIcon
      =link_to image_tag("logo-gray.svg", size: "80x65"), root_path
    %p © 2018 Mercari
