.devise
  = render "shared_user/header"
  .deviseSection
    .inner
      %h2.title 会員登録完了
      .done_text
        ありがとうございます。
        %br/
        会員登録が完了しました。
      = link_to 'メルカリを始める', root_path, class: 'doneBtn'
