//devise--shared
.devise {
  background-color: $hexWhite;
  min-height: 100vh;
//end

//devise--header
  .deviseHeader {
    height: 128px;
    text-align: center;
    .headIcon {
      line-height: 128px;
    }
  }
//end

//devise--new
  .deviseSection {
    width: 100%;
    .inner {
      margin: 0 auto;
      background-color: $white;
      width: 700px;
      padding-bottom: 50px;
      .done_text {
        width: 35%;
        margin: 0 auto;
      }
      .doneBtn {
        display: block;
        line-height: 48px;
        background: #ea352d;
        border: 1px solid #ea352d;
        color: #fff;
        margin: 40px auto;
        width: 240px;
        padding-left: 80px;
        text-decoration: none;
      }
      &--narrow {
        width: 456px;
        .resetTitle {
          line-height: 60px;
          font-size: 18px;
          text-align: center;
          font-weight: bold;
        }
      }
      .newText {
        font-size: 14px;
        text-align: center;
        font-weight: bold;
      }
      .title {
        padding: 32px 16px;
        font-size: 22px;
        text-align: center;
        font-weight: bold;
        &--narrow {
          padding: 40px 64px 0;
          .deviseBtn--blue {
            display: block;
            height: 40px;
            margin: 40px 0;
            background: $skyBlue;
            text-align: center;
            width: 320px;
            font-size: 16px;
            line-height: 40px;
            color: $white;
            text-decoration: none;
          }
        }
      }
      .deviseForm {
        border-top: 1px solid $hexWhite;
        padding: 64px;
        position: relative;
        &--none {
          padding: 0 0 40px 0;
        }
        .new_account_email {
          width: 240px;
          padding: 15px 0 15px 80px;
          margin: 0 auto 16px;
          display: block;
          background-color: #eee;
          color: #000;

        }
        .new_account_facebook {
          text-align: center;
          width: 320px;
          height: 35px;
          padding-top: 15px;
          margin: 0 auto 16px;
          display: block;
          background-color: #385185;
          color: #fff;
        }
        .new_account_google {
          text-align: center;
          width: 320px;
          padding-top: 15px;
          height: 35px;
          margin: 0 auto;
          display: block;
          background-color: #fff;
          color: #333;
          border: #979797 solid 1px;
        }
        .fa-envelope-o {
          position: absolute;
          left: 200px;
          top: 80px;
          color: #ccc;
        }
        .new_user {
          max-width: 320px;
          margin: 0 auto;
          .deviseForm__field {
            .phone_confirm_title {
              font-size: 15px;
              font-weight: 1;
            }
            @include form();
            margin: 40px 0 0;
            &--top {
              margin: 0;
            }
            label {
              @include label();
            }
            .formRequired {
              @include required();
            }
            .formAny {
              @include any()
            }
            .inputField {
              @include input();
              &--small {
                width: 90px;
              }
              &__select {
                height: 50px;
                width: 100%;
              }
            }
            .selectDate {
              @include date()
            }
            .selectField {
              @include select()
            }
          }
          .remember__field {
            margin: 10px 0 0 0;
          }
          .deviseForm__actions {
            .deviseBtn {
              @include btn();
            }
          }
          .phone_text {
            font-size: 15px;
          }
        }
        a {
          display: block;
          margin: 40px auto 0;
          max-width: 320px;
          text-decoration: none;
          color: $skyBlue;
          font-size: 14px;
        }
      }
    }
  }
//end

//devise--footer
  .deviseFooter {
    .inner {
      width: 456px;
      height: 140px;
      margin: 0 auto;
      padding: 40px 0;
      text-align: center;
      ul {
        position: relative;
        left: 6%;
        @include clearfix();
        li {
          float: left;
          font-size: 12px;
          padding: 0 10px;
          a {
            color: $hexGray20;
            text-decoration: none;
            display: inline-block;
          }
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .footerIcon {
        margin: 40px auto 0;
      }
      p {
        font-size: 10px;
      }
    }
  }
}
//end
