@import "reset";
@import "font-awesome";
@import "./config/variable";
@import "./mixin/mixin";
@import "slick-theme";
@import "slick";
@import "devise";
@import "products";
@import "main";
@import "user";
@import "category";
@import "brands";
@import "regions";
@import "reviews";
